body {
    background-color: #e6ccff;
    font-family: 'Varela Round';
    margin: 0;
}

.homeTitle {
    z-index: 0;
    background: #ce99ff;
    height: 20vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeTitle h1 {
    font-size: 4em;
    text-align: center;
}
.homeBody {
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeContent {
    background-color: #ffffff;
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
}
.button {
    background-color: green;
    width: 10vw;
    align-items: center;
}

.button p {
    text-align: center;
}






